* {
    margin: 0;
    padding: 0;

}

.cabecalho {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(72, 72, 201);
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: azure;
}
main{
    flex: 1;
}

.cabecalho-link{
    color: rgb(23, 13, 110);
}
h1{
    color: rgb(23, 13, 110);
}
.footer{
    background-color: darkblue;
}

