* {
    margin: 0;
    padding: 0;

}

.cabecalho {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao {
    width: 260px;
    height: 200px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cartao-imagem {
    width: 100%;
}